.community-member {
  transform-style: preserve-3d;
  transform: perspective() rotateY(-25deg);50rem
}

.community-member:hover {
  transform: none;
}

.community-member::before{
  transition: background 0.2s ease-in-out,inset 0.2s ease-in-out,border-radius 0.12s;
}
